:root {
    --text-base-darkest: #1b1b1b;
    --text-base-lightest: #f0f0f0;
    --text-primary: #005ea2;
    --text-primary-dark: #1a4480;
    --text-primary-lighter: #d9e8f6;
    --text-primary-light: #73b3e7;
    --bg-base-lightest: #f0f0f0;
    --bg-base-lighter: #d9d9d9;
    --bg-base-light: #a9aeb1;
    --bg-base: #71767a;
    --bg-base-dark: #565c65;
    --bg-base-darker: #3d4551;
    --bg-base-darkest: #1b1b1b;
    --bg-primary: #005ea2;
    --bg-primary-dark: #1a4480;
    --bg-secondary: #e3670d;
    --bg-secondary-light: #edc5a9;
    --bg-secondary-dark: #973f00;
}

body {
    color: var(--text-base-darkest);
    background-color: white;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.2rem;
    line-height: 1;
}
h1 small {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: normal;
}
h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

a,
a:visited {
    color: var(--text-primary);
}

a:hover {
    color: var(--text-primary-dark);
}

p, 
li {
    line-height: 1.5;
}

button,
.button,
a.button,
a.button:visited {
    background: var(--bg-primary);
    color: var(--text-base-lightest);
    border: none;
    padding: 3px 6px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
main button {
    background-color: var(--bg-secondary-light);
    color: var(--text-base-darkest);
    border: 2px solid var(--bg-base-darkest);
}

button + button,
.button + .button {
    margin-left: 6px;
}

button:hover,
.button:hover,
a.button:hover,
button:focus-visible,
a.button:focus-visible {
    background: var(--bg-primary-dark);
    color: var(--text-base-lightest);
}
button:focus-visible,
a.button:focus-visible {
    outline: 3px solid var(--bg-secondary);
}


button.small,
.button.small {
    font-size: 0.8rem;
    padding: 2px 4px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.row {
    display: flex;
    background-color: cadetblue;
    border: 3px black;
    justify-content: stretch;
}
.row.grow {
    flex-grow: 1;
}

.section h2 {
    text-align: center;
    margin: 6px 0;
}

#info-section {
    background-color: var(--bg-secondary-dark);
    height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    color: var(--text-base-lightest);
    align-items: center;
    padding: 0 12px;
    gap: 40px;
}
#info-section h1 {
    white-space: nowrap;
}
#item-details {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}
#item-details.active {
    display: block;
}
#item-details a {
    color: var(--bg-secondary-light);
    font-weight: bold;
}

#intro {
    display: none;
    background-color: var(--bg-base-lightest);
}
#intro.active {
    display: block;
}
#intro p {
    font-size: 1.3rem;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}
#intro p:last-child {
    text-align: center;
}
#intro button {
    font-size: 2.4rem;
    padding: 6px 24px;
}

#main-ui {
    display: none;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#main-ui.active {
    display: flex;
}

#tools-section {
    background-color: var(--bg-base-lighter);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64px;
}

.tool-list,
.photo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tool-list button,
.photo-list button {
    background: none;
    border: none;
}
.tool-list button:focus-visible,
.photo-list button:focus-visible {
    outline: 3px solid var(--bg-secondary);
}

.tool-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool {
    opacity: 1;
}
.tool:disabled {
    opacity: 0.33;
}

.tool-icon {
    width: 40px;
    height: auto;
}

#segment-tools {
    border-top: 3px solid var(--bg-base-darkest);
    padding-top: 1rem;
}

#canvas-section {
    background-color: var(--bg-base-darkest);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
#canvas {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

button.canvas-segment {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform-origin: 50% 50%;
}
button.canvas-segment:hover,
button.canvas-segment:focus,
button.canvas-segment:focus-visible {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* z-index: 1001; */
    outline: 1px solid var(--bg-secondary);
}
button.canvas-segment.animating {
    transition: left ease-in-out 0.5s, top ease-in-out 0.5s;
}
button.canvas-segment.selected {
    outline: 3px solid var(--bg-secondary);
    /* z-index: 1002; */
}
.canvas-segment-bar {
    width: 60px;
    height: 3px;
    background: var(--bg-secondary);
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -1.5px;
    display: none;
}
.canvas-segment-handle {
    position: absolute;
    background: var(--bg-secondary);
    width: 24px;
    height: 24px;
    right: -12px;
    top: 50%;
    margin-top: -12px;
    border-radius: 50%;
}
button.canvas-segment.selected .canvas-segment-bar {
    display: block;
}
#background-photo-credit {
    text-align: center;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--text-base-lightest);
}
#background-photo-credit a {
    color: var(--text-primary-light);
}

#photo-section {
    background-color: var(--bg-base-lighter);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    overflow: auto;
    overflow-x: visible;
    position: relative;
}
#photo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#photo-select,
#photo-shuffle {
    margin-bottom: 6px;
}
#photo-select {
    border: 2px solid var(--bg-base-darkest);
    padding: 3px 6px;
}
.photo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 0 12px;
}
button.photo {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.photo-thumbnail {
    max-width: 90%;
    height: auto;
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
}
.photo-segments {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.photo-segment {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform-origin: center center;
    transform: scale3d(1, 1, 1);
    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.5s;
}
button.photo:hover .photo-thumbnail,
button.photo:focus .photo-thumbnail,
button.photo.active .photo-thumbnail {
    opacity: 0.5;
}
button.photo:hover .photo-segment,
button.photo:focus .photo-segment,
button.photo.active .photo-segment {
    opacity: 1;
    transform: scale3d(1.667, 1.667, 1);
}

.nowrap {
    white-space: nowrap;
}

.loc-header {
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-base-darkest);
    border-bottom: 1px solid var(--bg-base-darker);
    z-index: 10000;
}

.loc-header p {
    color: var(--text-base-lightest);
}

.loc-header a {
    color: var(--text-primary-light);
}

.loc-header a:hover {
    color: var(--text-primary-lighter);
}

.loc-header a.button {
    color: var(--text-base-lightest);
    vertical-align: middle;
}

.loc-header a.button:hover {
    color: var(--text-base-lightest);
}

@media screen and ((height <= 520px) or (width <= 600px)) {
    .loc-header {
        position: relative;
    }
}

.loc-header .loc-logo img {
    height: 30px;
    width: auto;
    margin-right: 6px;
}

.loc-header .project-description {
    text-align: center;
}

.loc-header .project-description p {
    margin: 0;
    font-size: 0.9rem;
}

.loc-footer {
    background: var(--bg-base-lightest);
    border-top: 1px solid var(--bg-base-light);
    padding: 0 12px 12px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
}

.loc-footer p {
    max-width: 960px;
    margin: 6px auto;
}

.loc-footer .loc-footer-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.loc-footer .loc-footer-nav-list li {
    margin: 0 6px;
}